{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Recipe</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->

</head>

<body>

  <main class="bg-login">
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				
				<h4 class="company_title">Logo here</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row mt-3">
						<h2>Verify Account</h2>
					</div>
					{% if messages %}
					{% for message in messages %}

						{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
						<div class="alert alert-danger alert-dismissible" style="text-align: left;">
							<a href="#" class="close" data-bs-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
							<strong>{{message}}</strong>
						</div>
	
						{% else %}
	
						<div class="alert alert-success alert-dismissible" style="text-align: left;">
							<a href="#" class="close" data-bs-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
							<strong>{{message}}</strong>
						</div>
						{% endif %}

					{% endfor %}
				{% endif %}
					<div class="row">
						<form method="POST" action="{% url 'user:verify_account' %}" control="" class="form-group">
							{% csrf_token %}
							<div class="row">
								<input type="text" name="code" id="username" required class="form__input" placeholder="Code">
							</div>
						
							<div class="row">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
				
				</div>
			</div>
		</div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->


</body>

</html>